@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body,
html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Arial',sans-serif;
    width: 100%;
    margin: 0;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
    margin-right: 100px;
}

.navPrincipal {
    display: flex;
    flex-direction: row;
    padding:10px;
    min-height: 75px;
    height: 75px;
    width:100%;
    background-color: #0c0636;
}

.navPrincipal ul img {
    width: 5%;
    height: 100%;
    cursor: pointer;
    display: none;
}

.navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: 0px;
    padding-right: 40px;
}



.menu {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;  
}
.menuSelected {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;  
}

.navegacion a .menu{    
    padding: 20px 0px;
    margin: 0px 20px;
    width: 200px;    
    color:white;
    text-shadow: 2px 2px 4px rgb(200, 200, 200);
}
.navegacion a .menuSelected{
    width: 200px;  
    padding: 20px 0px;
    margin: 0px 18px;
    color:#375e6b;
    text-shadow: 2px 2px 4px #2d4d58;
}

.navegacion a .menuSelected:hover {
    color: #095169;
    text-shadow: 2px 2px 4px #074256;
}

.navegacion a .menu:hover {
    color: #095169;
    text-shadow: 2px 2px 4px #074256;
}
.navCursos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:5px;
    min-height: 40px;
    height: 40px;
    width:100%;
    background-color: #dfdede;
}
.navegacionCursos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin: 0px;
    padding-right: 40px;
}

.navegacionCursos a .menu{
    height: 50%;
    padding: 10px 20px;
    margin: 0px 10px;
    color:rgb(36, 35, 35);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}
.navegacionCursos a .menu:hover {
    color: #0e7293;
    text-shadow: 1px 1px 2px #0b5972;
}
.navegacionCursos a .menuSelected{
    height: 50%;
    padding: 10px 20px;
    margin: 0px 10px;
    color:#095169;
    text-shadow: 1px 1px 2px #073e51;
}

.navegacionCursos a .menuSelected:hover {
    color: #0e7293;
}
#loginA{
    color:white;
}
.cursoItem{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    width: 50%;
    margin-bottom: 25px;
    height: 175px;
    border-top:1px solid grey;
}
.cursoItem p,.cursoItem a, .cursoItem h2{
    padding: 2px;
}
.cursoItemTexto h2{
    color:darkslategray;
    text-shadow: 2px 2px 4px grey;
}
.cursoItemTexto a{
    display:block;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color:darkslategray;
    width: 80%;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px grey;
}
.cursoItem img{
    border-radius: 40px;
    height: 125px;
    min-width: 200px;
    padding: 20px;
    margin-right: 10px;
}
.cursoItemTexto{
    text-align: left;
    
}

nav a {
    text-decoration: none;
    font-size:larger;
    font-weight: bold;
    color: black;
}


.contenido {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #dfdede;
    padding: 10px 5%;
}
.contenidoContacto {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: left;
    min-height: 500px;
    width:100%;
    background-color: #dfdede;
    padding: 10px 5%;
    
}
.contenidoContacto h2{
    color:darkslategray;
    text-shadow: 2px 2px 4px grey;
}

.contacto{
    display: flex;
    background-image: url('../img/contacto.jpg');
    background-repeat: no-repeat;
    background-color: #dfdede;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color:white;
    margin:0px;
}
.contenidoCursos {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #dfdede;
    padding: 10px 5%;
}
.contenido-preinscripcion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #dfdede;
    padding: 10px 5%;
}
.form-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 600px;
}
.form-container h1 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
}
.form-container p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
}
.form-container select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
}
.form-container textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
}
input[type="radio"] {
    width: auto;
    margin-right: 5px;
}
.btn-enviar{
    width: 100px;    
    border-radius: 20px;
    background:#095169;
    border: 2px solid black;
    color:white;
    font-size: 15px;
    padding: 3px;
}
.btn-enviar:hover{
    width: 100px;    
    border-radius: 20px;
    background:#0c0636;
    border: 2px solid black;
    color:white;
    font-size: 15px;
    padding: 3px;
}
.div-button{
    text-align: center;
}
textarea {
    resize: none;
    font-family: 'Arial',sans-serif;
}

.three-inputs input {
    width: calc(33.333% - 13px);
    display: inline-block;
    margin-right: 15px;
}

.three-inputs input:last-child {
    margin-right: 0;
}

.two-inputs > div {
    width: calc(50% - 3px);
    display: inline-block;
    vertical-align: top;
}
.carousel-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 30px;
    overflow: hidden;    
}
#imgTejido{
    transition: transform 0.3s ease; /* Suaviza el movimiento */
    margin-top: 100px;
    height: auto;
    width: 80%;
}

#imgTejido:hover {
  transform: translateY(-10px); /* Mueve la imagen */
}

.arrow {
    cursor: pointer;
    font-size: 2rem;
    padding: 0 10px;
    user-select: none;
}
.carousel-track {
    display: flex;
    width: 100%; 
    justify-content: space-evenly;
    transition: transform 0.5s ease-in-out;
    padding-top: 5px;
}
.carousel-item {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    min-width: 10%;
    max-width: 20%;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-right: 1px solid rgb(175, 175, 175);
}
.carousel-item:hover {
    transform: translateY(-5px); /* Efecto al pasar el mouse */
}

.carousel-item h2 {
    padding-top: 20px;
    font-size: 1.7rem;
    margin: 10px 0;
    color:darkslategray;
    text-shadow: 2px 2px 4px grey;
}

.carousel-item p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0px;
    text-align: left;
    color: black;
}

.carousel-item .schedule {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 20px;

}

.contenedor_producto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid;
    border-color: #cccccc;
    width: 45%;
    height: 100%;
    background-color: white;
}

.formulario {
    height: 100%;
    width: 100%;
}
form, input, textarea, select, label, option, div, a,i {
    font-family: 'Arial',sans-serif;
}
footer {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 90px;
    width: 100%;
    background-color: #0c0636;
    min-width: 420px;
}
footer div{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.checkbtn {
    display: none;
}

#check {
    display: none;
}
.adminIcons{
    display:flex;
    width: 30%;
    justify-content: space-around;
}
.adminIcons i{
    color:#0c0636;
}
.adminIconsCurso{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    margin: 0px 5px;
}
#cantidad {
    width: 96%;
}

#mensaje {
    color: rgb(47, 55, 92);
}
#empresa,#email,#fecha-nacimiento{
    width:250px;
}

#next-arrow{
    padding-right: 5px;
}
#prev-arrow{
    padding-left: 5px;
}
#cuartoItem{
    border:0px;
}
.comentarios{
    width:30%;
    border-right:1px solid rgb(175, 175, 175);
    padding:0px 10px;
}
#ultimoComentario{
    border:0px;
}
.contenedorComentarios{
    display:flex;
    justify-content: center;
    margin-top: 25px; 
    margin-bottom: 50px;
    padding :100px 0px;
    
}
.tituloComentario{
    font-size: 18px;
}
.textoComentario{
    font-size: 14px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo gris con opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; /* Oculto por defecto */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .modal-content {
    background:#0c0636;
    color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  
  .modal.visible {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-content button {
    padding: 10px;
    background-color:#073e51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background: #0a556e;
  }

  #loginForm input{
    border-radius: 4px;
    margin-bottom: 5px;
  }

  #loginForm h3{    
    font-size: 1.4rem;    
    text-shadow: 2px 2px 4px grey;
    padding: 10px 0px 20px 0px;
    margin:0px;
  }

  .modal-content a{
    margin-top:10px;
    font-size: 13px;
    color:white;
  }
  #consulta-cursos {
    margin:0px;
    padding: 20px;
    width: 50%;
    border-left:1px solid rgb(174, 174, 174);
  }
  
  #consulta-cursos h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    
  }
  
  #consulta-cursos form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #consulta-cursos input,
  #consulta-cursos textarea {
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #consulta-cursos button:hover {
    background-color: #0056b3;
  }

  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenidoNosotros {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f9f9f9; /* Fondo suave para diferenciar la sección */
}

.seccionNosotros {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.seccionNosotros h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color:darkslategray;
    text-shadow: 2px 2px 4px grey;
    text-transform: uppercase;
    
}

.seccionNosotros p {
    font-size: 1.1rem;
    color: #666;
    margin:0px;
}
.seccionNosotros h3 {
    font-size: 1.5rem;
    color: #666;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.imagenesNosotros {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.imagenItem {
    width: 50%; /* Tres imágenes por fila en pantallas grandes */
    /*max-width: 300px;*/
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.textoNosotros{
    width: 50%;
    text-align: left;
}

.imagenItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.imagenItem img {
    width: 100%;
    height: auto;
}

.imagenItem p {
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #095169;
    font-weight: bold;
    background-color: #f0f0f0;
}
@media only screen and (max-width: 1400px){
    .navegacion a .menu{
        margin:0px 5px;
    }
    .carousel-container{
        width: 95%;
    }
    
}
@media only screen and (max-width: 1250px){
    .navegacion{
        justify-content: center;
    }
    .navegacion a .menu{
        width: 175px;
        font-size: 16px;
    }
    .navegacion a .menuSelected{
        width: 175px;
        font-size: 16px;
    }
    .navegacion{
        padding: 0px 0px;
    }
    .carousel-container{
        width: 100%;
    }
    .contenido{
        padding: 0px;
    }
}

@media only screen and (max-width: 1050px),
screen and (max-height: 600px) {
    .carousel-item h2{
        font-size: 1.4rem;
    }
    .carousel-item p{
        font-size: 0.8rem;
    }
    .carousel-item .schedule{
        font-size: 0.7rem;
    }
    .navegacion{
        justify-content: center;
    }
    #imgTejido{
        margin-top: 25px;
    }
    .navegacion a .menu{
        font-size: 14px;
        width:150px;
        padding: 20px 0px;
        margin:0px 0px;
    }
    .navegacion a .menuSelected{
        
        font-size: 14px;
        width:150px;
        padding: 20px 0px;
        margin:0px 0px;
    }
    
}

@media only screen and (max-width: 850px),
screen and (max-height: 600px) {

    .navPrincipal {
        position: fixed;
        width: 100%;
        min-height: 70px;
        height: 70px;
    }
    .navPrincipal{
        justify-content: space-evenly;
    }
    .navegacion {
        margin-top:70px;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        width: 45%;
        height: 100%;
        left: -100%;
        transition: all .9s;
    }
    .navegacion a{
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    #check:checked~.navegacion {
        left: 0; 
        background-color: #0c0636;
    }

    .checkbtn {
        display: block;
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
    }
    .tituloComentario{
        font-size:14px;
    }
    .textoComentario{
        font-size:11px;
    }

    .contenido {
        min-width: 420px;
        justify-content: center;
    }
    .carousel-container{
        margin: 100px;
    }
    .carousel-item p{
        font-size: 10px;
    }
    .carousel-item .schedule{
        font-size: 11px;
    }
    .carousel-item{
        min-width: 35%;
    }
    footer{
        font-size: 12px;
    }
    .contenido h2 {
        font-size: 15px;
    }
    #cuartoItem{
        display:none
    }
    #tercerItem{
        display:none
    }
    .contenido ul {
        display: none;
    }

    .contenedor_producto img {
        max-width: 45%;
        margin-right: 10px
    }
    .navPrincipal ul a {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
}